/**
 * 用户登录页面
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.h-center {
  margin: 0 auto;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  width: 900px;
  height: 584px;
  background: #fff;
  display: flex;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(175, 187, 204, 0.15);
}
main .left {
  position: relative;
  width: 540px;
  height: 100%;
  flex-direction: column;
}
main .left .login-way {
  width: 360px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 10px;
  display: flex;
}
main .left .login-way div {
  width: 180px;
  height: 50px;
  font-size: 20px;
  color: #c7c8d4;
  border-bottom: solid 2px #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .left .login-way .active {
  color: #000;
  border-bottom: solid 2px #3a8bff;
}
main .left form {
  width: 360px;
  margin: 0 auto;
}
main .left form input {
  width: 100%;
  height: 48px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: none;
  outline: none;
}
main .left form input[type=text],
main .left form input[type=password] {
  border: solid 1px #e3e8f0;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 16px;
}
main .left form .v-code {
  display: flex;
}
main .left form .v-code input {
  width: 252px;
}
main .left form .v-code img {
  width: 108px;
  height: 48px;
  margin-top: 15px;
  object-fit: fill;
}
main .left form input[type=submit] {
  margin-top: 20px;
  color: #fff;
  background: #669cff;
  font-size: 18px;
  cursor: pointer;
}
main .left .admin {
  display: none;
}
main .left .verify {
  position: relative;
  width: 360px;
  margin: 0 auto;
  margin-top: 15px;
}
main .left .verify a {
  text-decoration: none;
  color: #669cff;
}
main .left .verify span {
  cursor: pointer;
  color: #669cff;
}
main .left .verify .signin {
  position: absolute;
  left: 20px;
}
main .left .verify .forget {
  position: absolute;
  right: 20px;
}
main .left .privacy-policy {
  position: absolute;
  width: 360px;
  left: 50%;
  margin-left: -180px;
  bottom: 30px;
  text-align: center;
}
main .right {
  position: relative;
  width: 360px;
  height: 100%;
  border-left: solid 1px #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .right .qr-code {
  position: relative;
  width: 220px;
  height: 220px;
  border: solid 1px #f2f2f2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .right .qr-code img {
  width: 180px;
  height: 180px;
  object-fit: fill;
}
main .right .qr-code .h4 {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -33px;
  font-size: 15px;
}
